<p>Friends</p>
<% current_user.friendships.each do |f| %>
  <%= f.accepter_id  %> <%= link_to 'Unfriend', unfriend_path(:friend_id => f.accepter_id ), :method => :delete %>
<% end %>

<p>Added Friends</p>
<% current_user.added_friendships.each do |a| %>
  <%= a.accepter_id  %>
<% end %>

<p>Friends who added you</p>
<% current_user.pending_friendships.each do |p| %>
  <%= p.accepter_id %> <%= link_to 'Accept', accept_friend_path(:friend_id => p.accepter_id ), :method => :post %> <%= link_to 'Reject', unfriend_path(:friend_id => p.accepter_id ), :method => :delete %>
<% end %>


<p>All Users</p>
<% @users.each do |u| %>
  <%= u.email %> <%= link_to 'Add friend', add_friend_path(:friend_id => u.id), :method => :post %>
 <% end %> 