<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <h1><li><%= msg %></li></h1>
      <% end %>
      </ul>
<% end %>    

<div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name , :class => "form-control"%>
</div>


<div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, :class => "form-control" %>
</div>



