<h1>Events list</h1>


<ul>
<% @events.each do |event| %>

	<li>
		<%= event.name %>
		<%= link_to 'Show', event_path(event) %>
		
		<%= link_to 'Get XML', event_path(event, :format => :xml) %>
		<%= link_to 'Get JSON', event_path(event, :format => :json) %>

		<%= link_to 'Edit', edit_event_path(event) %>
  		<%= link_to 'Delete', event_path(event), :method => :delete %>

	</li>
<% end %>
</ul>
<!-- 如果對使用單複數、new_event、edit_event有疑問，多加善用 rake routes -->
<%= link_to 'New Event', new_event_path %>
<%= link_to "Atom feed", events_path(:format => :atom) %>
<%= paginate @events %>