<h1>Events list</h1>

<%= form_for @event  do |f| %>
	<!-- form_for 前要加上“＝”，才會產生HTML格式的程式碼，才能生成表格，url則是代表要將這張表單往哪裡送 -->
    
    <%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Submit", :class => "btn btn-success" %>
    <%= f.submit "Cancel", :class => "btn btn-default" %>
<% end %>

<br \>

<%= form_tag events_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<br \>

	<%= link_to 'latest Events', latest_events_path ,:class => "btn btn-warning" %>

<br \>

	<%= link_to "Sort by numer", events_path(:order => "name"),:class => "btn btn-default" %>
	<%= link_to "Sort by default", events_path,:class => "btn btn-default" %>
<br \>
<%= form_tag bulk_update_events_path do %>

<table class="table">

<tr>
<% @events.each do |event| %>
</tr>
	<td>
		<%= check_box_tag "ids[]", event.id,false%>
		<%= event.name %>
	</td>
	<td>	
		<%= link_to 'Show', event_path(event), :class => "btn btn-success" %>
		<%= link_to 'Attendees', event_attendees_path(event), :class => "btn btn-primary" %>
		<%= link_to 'Edit', events_path(:id => event.id), :class => "btn btn-default" %>
  		<%= link_to 'Delete', event_path(event), :method => :delete, :class => "btn btn-danger" %>
  		<%= link_to 'Dashboard', dashboard_event_path(event), :class => "btn btn-warning" %>
  		

	</td>
<% end %>
</table>
<%= submit_tag "Delete"%>
<%= submit_tag "Publish"%>
<% end %>
<!-- 如果對使用單複數、new_event、edit_event有疑問，多加善用 rake routes -->

<%= paginate @events %>
<%= link_to "Admin Space" , admin_events_path , :class => "btn btn-warning" %>




