


<h1> Event List </h1>
<p></p>
<p></p>
<h3><%= @event.name %></h3>
<p><%= @event.status %></p>	
<div><span style="font-size: 25px  "><%= @event.category_name %></span></div>
<ul>
	<% @event.groups.each do |g| %>
	<li><div><span style="font-size: 25px  "><%= g.name  %></span></div></li>
	<% end %>
</ul>

Description: <%= simple_format @event.description %>

<p><%= link_to 'Back to index', events_path,:class => "btn btn-success" %></p>